.superhero {
    padding: 20px;
    padding-bottom: 35px;
    border: 2px solid #caa8f7;
    border-radius: 10px;
    text-align: center;
    background-color: #d9c1f7;
    margin: 10px;
}

.superhero img {
    width: 100%;
    border-radius: 15px;
}

.superhero_title {
    font-weight: bold;
}
